@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import typography system */
@import "./typography.css";

body {
  overflow-x: hidden;
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

@media only screen and (max-width: 1000px) {
  .medium {
    display: none;
    transition-delay: 2s;
  }
}
